:root {
    --prime-color: #102C57;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 400px;
    width: 100vw;
    background-color: var(--prime-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    height: 1000px;
    width: 100vw;
    background-color: #EADBC8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.middle {
    height: 600px;
    width: 100vw;
    background-color: #DAC0A3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bottom {
    height: 200px;
    width: 100vw;
    background-color: var(--prime-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

.top-header-one,
.top-header-two,
.bottom-header {
    color: #EADBC8;
}

.intro-header-one,
.intro-header-two,
.middle-header {
    color: #102C57;
}