body {
    height: 100vh;
    width: 100vw;
    background-color: coral;
    margin: 0;
}

.top {
    height: 200px;
    width: 100vw;
    background-color: coral;
}

.middle {
    height: 600px;
    width: 100vw;
    background-color: beige;
}

.bottom {
    height: 200px;
    width: 100vw;
    background-color: coral;
}

h1 {
    margin: 0;
}