html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Establish custom properties that will help keep design consistent*/
:root {
    --prime-color: #102C57;
    --second-color: #EADBC8;
    --third-color: #DAC0A3;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial Bold", sans-serif;
}

.top {
    height: 400px;
    width: 100vw;
    background-color: var(--prime-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    height: 1000px;
    width: 100vw;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
}

.middle {
    height: 600px;
    width: 100vw;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bottom {
    height: 200px;
    width: 100vw;
    background-color: var(--prime-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top-header-one,
.top-header-two,
.bottom-header {
    color: var(--second-color);
}

.intro-header-one,
.intro-header-two,
.middle-header {
    color: var(--prime-color);
}

.intro-header-one,
.middle-header,
.bottom-header {
    padding-top: 30px;
}